[Unit]
Description=Camera Control webserver on port 8081
Wants=spyglass.service
StartLimitBurst=10
StartLimitIntervalSec=180

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=roberto
RemainAfterExit=Yes
WorkingDirectory=/usr/local/src/cameraControl
ExecStart=/usr/local/src/cameraControl/server.py
Restart=on-failure
RestartSec=5
